*{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    top:0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}
.navbar-center{
    width: 100%;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.nav-icon{
    font-size: 1.5 rem;
}
.cart-btn{
    position: relative;
    cursor: pointer;
}
.stars{
    float: left;
    width: 250px;
    margin-top: -20px;
}
.stars img{
    width: 50px;
    height: 20px;
}
.product_one{
    float: left;
    width: 300px;
    height: auto;
    overflow: hidden
}
.products-container{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2 rem

}